<h4>Ces partenaires nous soutiennent</h4>
<div class="row">
	<div class="col-xs-12">
		<div class="big-sponsor">
			<%= link_to image_tag("larcier.jpg", class: "img-responsive center-block"), "http://www.larciergroup.com/", target: '_blank' %>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-sponsors">
		<div class="col-md-3 col-xs-12">
			<%= link_to image_tag("secib.png"), "https://www.secib.fr/", target: '_blank' %>
		</div>
		<div class="col-md-3 col-xs-12">
			<%= link_to image_tag("eliott.png"), "http://blog.eliott-markus.com/", target: '_blank' %>
		</div>
		<div class="col-md-3 col-xs-12">
			<%= link_to image_tag("mycercle.png"), "http://www.mycercle.net/", target: '_blank' %>
		</div>
		<div class="col-md-3 col-xs-12">
			<%= link_to image_tag("ipex.jpg"), "https://www.ipexgroup.com/en/", target: '_blank' %>
		</div>
	</div>
</div>