<!-- AVOCATCONNECTE -->

<div class="container title text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1>Conférence Avocat Connecté</h1>
      <h4>L'Incubateur a la plaisir de vous inviter à la conférence Avocat Connecté le <b>21 mars 2018</b> au <b>Palais des Congrès</b> à <b>Liège</b></h4>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .contacts -->

<!-- AFFICHE -->

<div class="container affiche text-center">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <%= link_to "https://www.weezevent.com/l-avocat-connecte-6-pistes-pour-un-bon-depart?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3BY8%2FJ3lOLS624S6X30cbEpw%3D%3D", target: "_blank" do %>
        <%= image_tag "affiche.png", class: "img-responsive img-rounded img-thumbnail" %>
      <% end %>
    </div>
  </div>
</div> <!-- .container -->

<!-- PROGRAMME -->

<div class="container lined-middle-gray">

  <div class="row text-center">
    <div class="col-xs-12">
      <h1 class="programme">Programme</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h4>14h30: Accueil par <b>Isabelle Tasset</b>, Bâtonnier du barreau de Liège</h4>
      <h4>15h00: L'avocat du futur, par <b>Christophe Charlot</b>, journaliste au Trends-Tendances et auteur du livre <i>UberizeMe</i></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center intercalaire">Panel</h3>
      <h3 class="text-center">(15h15-17h00)</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="paneliste">
        <h4><u>Organisation du cabinet</u></h4>
        <h4>par <b>Erik De Herdt</b>, CEO de Lex.be et lauréat du Prix de l’innovation</h4>
        <p>Comment l’automatisation et le <i>big data</i> peuvent-ils libérer les avocats des tâches pénibles&nbsp;?</p>
        <p>Comment retrouver un équilibre vie privée/vie professionnelle grâce à l’automatisation&nbsp;?</p>
      </div> <!-- .paneliste -->
    </div> <!-- .col -->
  </div> <!-- .row -->

  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="paneliste">
        <h4><u>Travail d'équipe</u></h4>
        <h4>par <b>Michel Duchateau</b>, partner de Convidencia</h4>
        <p>Comment tirer profit des méthodes LEAN et AGILE dans un cabinet d’avocat&nbsp;?</p>
        <p>Comment favoriser le travail collaboratif au sein du cabinet&nbsp;?</p>
      </div> <!-- .paneliste -->
    </div> <!-- .col -->
  </div> <!-- .row -->

    <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="paneliste">
        <h4><u>Développement clientèle</u></h4>
        <h4>par <b>Aurélien Schvartz</b>, CEO de My-Lawyer.be</h4>
        <p>Votre clientèle est connectée, comment la conquérir grâce au web&nbsp;?</p>
        <p>Quels sont les outils de base incontournables&nbsp;?</p>
      </div> <!-- .paneliste -->
    </div> <!-- .col -->
  </div> <!-- .row -->

    <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="paneliste">
        <h4><u>Communiquer sur le web</u></h4>
        <h4>par <b>Maha Karim</b>, fondatrice de MKKM</h4>
        <p>Comment tirer profit des réseaux sociaux quand on débute&nbsp;?</p>
      </div> <!-- .paneliste -->
    </div> <!-- .col -->
  </div> <!-- .row -->

    <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="paneliste">
        <h4><u>Gestion de la carrière</u></h4>
        <h4>par <b>Anne-Laure Losseau</b>, executive coach chez ALIGN</h4>
        <p>Pourquoi le digital fait peur et comment y voir une opportunité pour sa carrière&nbsp;?</p>
        <p>Comment la génération Y est un atout pour la transition numérique du cabinet&nbsp;?</p>
      </div> <!-- .paneliste -->
    </div> <!-- .col -->
  </div> <!-- .row -->

    <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="paneliste">
        <h4><u>Service client</u></h4>
        <h4>par <b>Jean-Christophe Cuvelier</b>, growth hacker chez MAD Kings</h4>
        <p>Comment se fait-il que votre client vous connait déjà avant de vous rencontrer&nbsp;?</p>
        <p>Quelles sont les techniques de marketing digital faciles à implanter&nbsp;?</p>
      </div> <!-- .paneliste -->
    </div> <!-- .col -->
  </div> <!-- .row -->

  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <h4 class="conclusions">17h00: Conclusions par <b>Jean-Pierre Buyle</b>, Président d'Avocats.be </h4>
    </div>
  </div>

    <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center intercalaire">Drink & Networking</h3>
      <h3 class=text-center>(17h15-18h30)</h3>
    </div>
  </div>

</div> <!-- .container -->



<!-- INSCRIPTIONS -->

<div class="container volet text-center lined-middle-gray">
  <div class="row">
    <div class="col-md-offset-1 col-md-4 col-xs-12">
      <h3>Infos pratiques et inscriptions</h3>
      <p>Mercredi <b>21 mars 2018</b> de 14h30 à 18h30</p>
      <p>Palais des Congrès</p>
      <p>Espl. de l'Europe 2, 4020 Liège</p>
      <p class="volet-box">4 points (formation continue)</p>
      <%= link_to "Cliquez ici pour vous inscrire", "https://www.weezevent.com/l-avocat-connecte-6-pistes-pour-un-bon-depart?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3BY8%2FJ3lOLS624S6X30cbEpw%3D%3D", target: "_blank", class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12">
      <%= image_tag "palais.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .ceremonie -->

<!-- PARTENAIRES -->

<div class="container title text-center lined-middle-gray partners">
  <div class="row">
    <div class="col-xs-12">
      <h1>Partenaires</h1>
    </div>
  </div> <!-- .row -->
  <div class="row logo-partner">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <%= link_to "https://www.my-lawyer.be/", target: "_blank" do %>
        <%= image_tag "mylawyer.jpg", class: "img-responsive img-rounded center-block" %>
       <% end %> 
    </div>
  </div>
  <div class="row logo-partner">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <%= link_to "https://www.digitalwallonia.be/", target: "_blank" do %>
        <%= image_tag "adn.png", class: "img-responsive img-rounded center-block" %>
      <% end %>
    </div>
  </div>
  <div class="row logo-partner">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <%= link_to "https://www.larciergroup.com/fr", target: "_blank" do %>
        <%= image_tag "larcierGroup.jpg", class: "img-responsive img-rounded center-block" %>
      <% end %>
    </div>
  </div>
  <div class="row logo-partner">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <%= link_to "https://www.wolterskluwer.be/corporate/fr/droit/", target: "_blank" do %>
        <%= image_tag "wk.jpg", class: "img-responsive img-rounded center-block" %>
      <% end %>
    </div>
  </div>
</div> <!-- .container .contacts -->