<!-- EQUIPE -->

<div class="container title text-center">
	<div class="row">
		<div class="col-xs-12">
			<h1>L'Equipe de l'Incubateur</h1>
		</div>
	</div> <!-- .row -->
</div> <!-- .container .equipe -->

<!-- CONSEIL DE SUPERVISION -->

<div class="container equipe-card">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading equipe-heading">
			    <h2 class="panel-title">Conseil d'accompagnement</h2>
			    <h4>Le Conseil d'accompagnement prend les grandes décisions de l'Incubateur, valide les projets (existants et nouveaux) et leur mise en oeuvre. Ses membres sont tenus étroitement informés des actions du Comité et sont consultés régulièrement.</h4>
			  </div>
			  <div class="panel-body equipe-body">
		    	<div class="row member-card lined-down">
		    		<div class="col-md-4 col-xs-12">
		    			<div class="member-picture text-center">
		    				<%= image_tag "stva.jpg", class: "img-circle img-responsive avatar" %>
		    				<h3 class="first-name">Stanislas</h3>
								<h3 class="last-name">van Wassenhove</h3>
		    			</div>
		    		</div>
		    		<div class="col-md-7 col-xs-12">
		    			<div class="member-bio">
		    				<p>Stanislas van Wassenhove est avocat au barreau de Bruxelles depuis 1984. Il est spécialisé en droit social et capital humain. Il intervient plus particulièrement pour accompagner les dirigeants d’entreprise et les cabinets d’avocats en matiè̀re de statut social, gouvernance et RSE.<br>Il est l'auteur de nombreuses publications en droit social et a publié en 2013 un livre en matière de management des cabinets d’avocats. Interpellé par le monde en mutation, il s’intéresse à l’avenir de la profession (www.avocatdufutur.com) et a fondé en 2010 l’université d’été des dirigeants Trans-mutation.</p>
		    			</div>
		    		</div>
		    	</div> <!-- .row .lined-down -->
		    	<div class="row member-card lined-down">
		    		<div class="col-md-4 col-xs-12">
		    			<div class="member-picture text-center">
		    				<%= image_tag "Ohaenecour.jpg", class: "img-circle img-responsive avatar" %>
		    				<h3 class="first-name">Olivier</h3>
								<h3 class="last-name">Haenecour</h3>
		    			</div>
		    		</div>
		    		<div class="col-md-7 col-xs-12">
		    			<div class="member-bio">
		    				<p>Olivier Haenecour est Bâtonnier du Barreau de Mons.<br>Il a été membre commission informatique Avocats.be de 2000 à 2015.<br>Il est co-auteur du livre Cabinets d’avocats et technologies de l’information et de nombreuses autres publications</p>
		    			</div>
		    		</div>
		    	</div> <!-- .row .lined-down -->
  	    	<div class="row member-card lined-down">
  	    		<div class="col-md-4 col-xs-12">
  	    			<div class="member-picture text-center">
  	    				<%= image_tag "phenry.jpg", class: "img-circle img-responsive avatar" %>
  	    				<h3 class="first-name">Pierre</h3>
  							<h3 class="last-name">Henry</h3>
  	    			</div>
  	    		</div>
  	    		<div class="col-md-7 col-xs-12">
  	    			<div class="member-bio">
                <p>Pierre Henry est inscrit au Barreau de Verviers depuis le 14 octobre 1993 et il en est le Bâtonnier.<br> Il est médiateur agréé en matière civile, commerciale et familiale et admis à la liste des curateurs du Tribunal de Commerce de Verviers.</p>
  	    			</div>
  	    		</div>
		    	 </div> <!-- .row .lined-down-->
          <div class="row member-card">
            <div class="col-md-4 col-xs-12">
              <div class="member-picture text-center">
                <%= image_tag "JJoris.jpg", class: "img-circle img-responsive avatar" %>
                <h3 class="first-name">Jean-Louis</h3>
                <h3 class="last-name">Joris</h3>
              </div>
            </div>
            <div class="col-md-7 col-xs-12">
              <div class="member-bio">
                <p>Jean-Louis Joris est avocat aux barreaux de Bruxelles et de New York.<br> Il est ancien membre du Conseil de l'Ordre de Bruxelles. Il consacre actuellement une part importante de son temps à des activités liées au barreau.<br>Il est administrateur du conseil d'administration d'Avocats.be. Il est également président du Comité des relations extérieures du Barreau de Bruxelles (Ordre français).</p>
              </div>
            </div>
           </div> <!-- .row --> 
			  </div> <!-- .panel-body .equipe-body -->
			</div>
		</div>
	</div> <!-- .row -->
</div> <!-- .container .supervision -->

<!-- COMITE -->

<div class="container equipe-card">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
			  <div class="panel-heading equipe-heading">
			    <h2 class="panel-title">Comité</h2>
			    <h4>Le Comité est chargé de la gestion quotidienne de l’Incubateur. Pour chaque projet de l’Incubateur, un membre du Comité est désigné en tant que porteur de projet.</h4>
			  </div>
			  <div class="panel-body equipe-body">
		    	<div class="row member-card lined-down">
		    		<div class="col-md-4 col-xs-12">
		    			<div class="member-picture text-center">
		    				<%= image_tag "avdb.jpg", class: "img-circle img-responsive avatar" %>
		    				<h3 class="first-name">Adrien</h3>
								<h3 class="last-name">van de Branden</h3>
		    			</div>
		    		</div>
		    		<div class="col-md-7 col-xs-12">
		    			<div class="member-bio">
		    				<p>Adrien a prêté serment en octobre 2014 et est inscrit au Barreau de Bruxelles. Il se spécialise dans le droit des TIC, conseillant des clients belges et internationaux sur tous les aspects liés à la protection des données à caractère personnel, les licences sur logiciels, l'architecture cloud, le commerce électronique et la cyber sécurité. <br>
								Pour l’Incubateur, Adrien est chargé des contacts avec l’extérieur. Il organise également la Cérémonie de Remise des Prix de l’Innovation. Enfin, c'est lui qui programme et gère le site web de l'Incubateur.</p>
		    			</div>
              <%= link_to "https://www.linkedin.com/in/adrienvandenbranden/", target: "_blank" do %>
                <i class="fa fa-linkedin"></i>
              <% end %> 
		    		</div>
		    	</div> <!-- .row .lined-down -->
		    	<div class="row member-card lined-down">
		    		<div class="col-md-4 col-xs-12">
		    			<div class="member-picture text-center">
		    				<%= image_tag "jneuray.jpg", class: "img-circle img-responsive avatar" %>
		    				<h3 class="first-name">Julie</h3>
								<h3 class="last-name">Neuray</h3>
		    			</div>
		    		</div>
		    		<div class="col-md-7 col-xs-12">
		    			<div class="member-bio">
		    				<p>Julie est inscrite au Barreau de Liège depuis 2009. Sa pratique est tournée vers le droit commercial, le droit des sociétés, la transmission des entreprises, le recouvrement de créances et le droit des contrats. Elle est également médiatrice agréée en matière civile et commerciale.<br>
								Après avoir réalisé un master complémentaire en droit de la concurrence et de la propriété intellectuelle, Julie s’est intéressée aux nouvelles technologies, à leur impact sur le monde juridique et leur appropriation par les avocats.<br>
								Au sein de l’Incubateur, Julie est chargée de mettre en place le comparateur de logiciels à destination des avocats.</p>
		    			</div>
		    		</div>
		    	</div> <!-- .row .lined-down -->
  	    	<div class="row member-card lined-down">
  	    		<div class="col-md-4 col-xs-12">
  	    			<div class="member-picture text-center">
  	    				<%= image_tag "nelberkani.jpg", class: "img-circle img-responsive avatar" %>
  	    				<h3 class="first-name">Naël</h3>
  							<h3 class="last-name">El Berkani</h3>
  	    			</div>
  	    		</div>
  	    		<div class="col-md-7 col-xs-12">
  	    			<div class="member-bio">
  	    				<p>Naël a prêté serment en septembre 2014 et est inscrit au Barreau de Bruxelles. Il pratique le droit des sociétés, le droit des fusions et acquisitions et le droit des transactions commerciales.<br>
								Naël est en charge du projet d’élaboration de la charte éthique à destination des nouveaux acteurs du droit.</p>
  	    			</div>
  	    		</div>
		    	 </div> <!-- .row lined-down-->
 		    	<div class="row member-card lined-down">
 		    		<div class="col-md-4 col-xs-12">
 		    			<div class="member-picture text-center">
 		    				<%= image_tag "Ekastally.png", class: "img-circle img-responsive avatar" %>
 		    				<h3 class="first-name">Essya</h3>
 								<h3 class="last-name">Kastally</h3>
 		    			</div>
 		    		</div>
 		    		<div class="col-md-7 col-xs-12">
 		    			<div class="member-bio">
 		    				<p>Essya est inscrite au Barreau de Bruxelles, et ce de depuis 2014. Elle pratique le droit immobilier, le droit de la construction, le droit de baux, le droit commercial, le droit des entreprises, le droit des contrats et de la distribution et le droit bancaire et du crédit.<br>
								Essya est chargée du secrétariat de l’Incubateur. Elle s’occupe également du projet d’élaboration de la charte éthique.</p>
 		    			</div>
 		    		</div>
 		    	</div> <!-- .row .lined-down -->
 		    	<div class="row member-card lined-down">
 		    		<div class="col-md-4 col-xs-12">
 		    			<div class="member-picture text-center">
 		    				<%= image_tag "fernotte.jpg", class: "img-circle img-responsive avatar" %>
 		    				<h3 class="first-name">Florian</h3>
 								<h3 class="last-name">Ernotte</h3>
 		    			</div>
 		    		</div>
 		    		<div class="col-md-7 col-xs-12">
 		    			<div class="member-bio">
 		    				<p>Florian est inscrit au Barreau de Liège depuis octobre 2014. Il pratique le droit des entreprises en difficultés, le droit des sociétés, le droit commercial et le droit fiscal. Sensible aux questions des nouvelles technologies au sens large et à l’évolution que rencontre la profession d’avocat, il a intégré la Commission Communication du Barreau de Liège et la Commission technologies de l’information et de la communication commune aux Barreaux de Liège, Verviers et Huy en septembre 2016.<br>
								Au sein de l’Incubateur, Florian s’occupe de l’animation du groupe LinkedIn.</p>
 		    			</div>
 		    		</div>
 		    	</div> <!-- .row .lined-down -->
   	    	<div class="row member-card lined-down">
   	    		<div class="col-md-4 col-xs-12">
   	    			<div class="member-picture text-center">
   	    				<%= image_tag "Awyns.jpg", class: "img-circle img-responsive avatar" %>
   	    				<h3 class="first-name">Alexiane</h3>
   							<h3 class="last-name">Wyns</h3>
   	    			</div>
   	    		</div>
   	    		<div class="col-md-7 col-xs-12">
   	    			<div class="member-bio">
   	    				<p>Alexiane est inscrite au Barreau de Bruxelles depuis 2011 et pratique le droit de l'entreprise au sens large. Elle a développé des compétences en matière de conseil et de contentieux, en droit des sociétés, fusions et acquisitions, crowdfunding et droit commercial. Entre autres activités, Alexiane anime une chaine YouTube où elle publie quotidiennement des vidéos éducatives sur des questions juridiques.<br>
								Alexiane s’occupe de l’organisation de la conférence de l’Incubateur sur le thème de l’innovation.</p>
   	    			</div>
   	    		</div>
 		    	 </div> <!-- .row .lined-down-->
           <div class="row member-card lined-down">
            <div class="col-md-4 col-xs-12">
              <div class="member-picture text-center">
                <%= image_tag "vrenson.jpg", class: "img-circle img-responsive avatar" %>
                <h3 class="first-name">Victoria</h3>
                <h3 class="last-name">Renson</h3>
              </div>
            </div>
            <div class="col-md-7 col-xs-12">
              <div class="member-bio">
                <p>Victoria a prêté serment en septembre 2014 au Barreau de Verviers et est inscrite depuis 2017 au Barreau de Liège. Elle pratique le droit des sociétés, le droit commercial ainsi que le droit pénal général.<br>Au sein de l'Incubateur, Victoria s'occupe des questions au croisement de la déontologie et de l'innovation.</p>
              </div>
            </div>
          </div> <!-- .row .lined-down -->
          <div class="row member-card lined-down">
            <div class="col-md-4 col-xs-12">
              <div class="member-picture text-center">
                <%= image_tag "cevrard.jpg", class: "img-circle img-responsive avatar" %>
                <h3 class="first-name">Carol</h3>
                <h3 class="last-name">Evrard</h3>
              </div>
            </div>
            <div class="col-md-7 col-xs-12">
              <div class="member-bio">
                <p>Carol a prêté serment en septembre 2014 et est inscrite au Barreau de Bruxelles. Sa pratique est exclusivement tournée vers le droit des nouvelles technologies au sens large, en ce compris le droit des télécoms et le droit à la protection des données. Elle conseille et défend des clients belges et internationaux dans ces matières. Au sein de l’Incubateur, Carol s'occupe des questions relatives à la déontologie et est chargée du partage de l’information liée aux derniers développements relatifs au croisement entre le droit et la technologie.</p>
              </div>
            </div>
          </div> <!-- .row .lined-down -->
          <div class="row member-card">
            <div class="col-md-4 col-xs-12">
              <div class="member-picture text-center">
                <%= image_tag "jangenot.png", class: "img-circle img-responsive avatar" %>
                <h3 class="first-name">Julie</h3>
                <h3 class="last-name">Angenot</h3>
              </div>
            </div>
            <div class="col-md-7 col-xs-12">
              <div class="member-bio">
                <p>Julie est inscrite au Barreau de Huy depuis 2016. Sa pratique est tournée vers le droit des contrats, le droit commercial, le droit des personnes et la responsabilité civile.Après son master en droit à l’Université de Louvain-la-Neuve, Julie a entrepris le master de spécialisation en droit des nouvelles technologies et de la communication (ICT LAW) à l’université de Namur.<br>Naturellement, elle s’est donc tournée vers l’Incubateur. Les projets de l’Incubateur lui permettent de continuer d’aborder la question des nouvelles technologies et de l’innovation, et ce à travers sa profession. Au sein de l’Incubateur, Julie est chargée des questions qui recoupent la déontologie et l’innovation, et des conférences.</p>
              </div>
            </div>
          </div> <!-- .row -->
			  </div> <!-- .panel-body .equipe-body -->
			</div>
		</div>
	</div> <!-- .row -->
</div> <!-- .container .supervision -->