<!-- Alert-->
<div class="alert alert-warning">
	<h4>Les candidatures pour les Prix de l'innovation clôturent le 31 octobre !</h4>
</div>

<!-- Main banner-->

<div class="main-banner">
  <div class="banner-content text-center">
    <h1>L'avocat au coeur de l'innovation</h1>
    <p>L'Incubateur d'Avocats.be aide les avocats à surfer la vague du digital</p>
  </div>
</div>

<!-- TODO -->

<div class="constat text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6 col-xs-12">
				<h1 class="grand-format">Un constat</h1>
				<h2 class="moyen-format">La vague du digital est</h2>
			</div>
		</div> <!-- .row -->

		<!-- Constat nr -->
		<div class="row constat-content">
			<div class="col-md-offset-3 col-md-3 col-xs-12">
				<div><%= image_tag("wave.png", class: "img-circle img-responsive img-constat center-block")%></div> 
			</div>
			<div class="col-md-3 col-xs-12">	
				<div class="right-item"><h2>Irrésisistible</h2></div> 
			</div>
		</div> <!-- .row -->

				<!-- Constat nr -->
		<div class="row constat-content">
			<div class="col-md-offset-3 col-md-3 col-xs-12 visible-md visible-lg visibl-xl">
				<div><h2>Intersectorielle</h2></div> 
			</div>
			<div class="col-md-3 col-xs-12">	
				<div class="right-item"><%= image_tag("setting.ico", class: "img-circle img-responsive img-constat center-block")%></div> 
			</div>
			<div class="col-xs-12 visible-sm visible-xs">
				<div><h2>Intersectorielle</h2></div> 
			</div>
		</div> <!-- .row -->

		<!-- Constat nr -->
		<div class="row constat-content">
			<div class="col-md-offset-3 col-md-3 col-xs-12">
				<div><%= image_tag("global.png", class: "img-circle img-responsive img-constat center-block")%></div> 
			</div>
			<div class="col-md-3 col-xs-12">	
				<div class="right-item"><h2>Mondiale</h2></div> 
			</div>
		</div> <!-- .row -->

	</div> <!-- .container -->
</div> <!-- .constat -->


<div class="text-center">
	<div class="container">
		<div class="row diagnostic lined-middle-gray">
			<div class="col-md-offset-2 col-md-8 col-xs-12">
				<h1 class="grand-format">Un diagnostic</h1>
				<h2 class="moyen-format">Les avocats en Belgique sont trop peu sensibilisés sur les impacts du digital sur leur profession</h2>
			</div>
		</div>
	</div> <!-- .container -->
</div> <!-- .diagnostic -->

<!-- Banner Mission -->

<div class="missions-banner">
  <div class="banner-content text-center">
    <h1>Les missions de l'Incubateur</h1>
    <p>L'Incubateur d'Avocats.be réalise trois missions principales</p>
  </div>
</div>


<!-- Title -->

<% count = 0 %>

<div class="container mission frame">

	<!-- Mission nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Diffuser la connaissance</h2>
				<p>L'Incubateur informe les avocats sur l'impact des technologies du digital sur la profession d'avocat: intelligence artificielle, dématérialisation des procédures, prédictice judiciaire, etc. Les avocats sont informés sur les nouveaux business models du droit et la manière d'appréhender les nouveaux outils technologiques dans leur pratique.</p>
			</div>
		</div>		
	</div>  <!-- .row .frame-content -->

	<!-- Mission nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Promouvoir l'innovation</h2>
				<p>L'Incubateur catalyse les forces innovatrices au sein des barreaux. L'innovation est souvent perçue comme une menace extérieure par les avocats. L'Incubateur a pour mission de mettre en lumière les opportunités apportées par la révolution digitale.</p>
			</div>
		</div>		
	</div>  <!-- .row .frame-content -->

	<!-- Mission nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Partager l'information</h2>
				<p>L'Incubateur est un projet tourné vers le monde extérieur. Il relaye l'information auprès de toute personne intéressée par le croisement entre le droit et la technologie.</p>
			</div>
		</div>		
	</div>  <!-- .row .frame-content -->

</div> <!-- .container .mission -->
		

	</div>
</div>

<div class="projects-banner">
  <div class="banner-content text-center">
    <h1>Les projets de l'Incubateur</h1>
    <p>L'Incubateur d'Avocats.be réalise des projets à l'intersection du droit et de l'innovation</p>
  </div>
</div>

<!-- Mutation -->

<% count = 0 %>

<div class="container project frame">

	<!-- project nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count light-blue"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Prix de l'Innovation</h2>
				<p>L'Incubateur organise chaque année une cérémonie de remise des Prix de l'innovation. Les Prix de l'innovation sont décernés à des projets innovants dans le domaine du droit, dans les catégories "LegalTech" et "Avocat".</p>
			</div>
		</div>	
	</div>  <!-- .row .frame-content -->
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-12">
			<%= link_to "Cliquez ici pour en savoir plus", prix_path, target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
		</div>
	</div> <!-- .row .frame-btn -->

	<!-- project nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count light-blue"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Conférence sur l'Avocat Connecté</h2>
				<p>L'Incubateur organise une conférence annuelle sur l'Avocat Connecté. Les professionnels du droit, s'ils sont convaincus qu'ils doivent innover, posent souvent la question <i>« Par où commencer ?</i> ». La conférence sur l'Avocat Connecté veut donner des réponses concrètes aux avocats pour les aider dans leur transition numérique.</p>
			</div>
		</div>	
	</div>  <!-- .row .frame-content -->
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-12">
			<%= link_to "Cliquez ici pour en savoir plus", avocatconnecte_path, target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
		</div>
	</div> <!-- .row .frame-btn -->

	<!-- project nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count light-blue"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Marché du droit ouvert</h2>
				<p>L'Incubateur est activement impliqué dans les réflexions sur l'établissement d'un cadre pour un marché du droit ouvert. Les avocats et les LegalTech doivent pouvoir co-exister de manière harmonieuse et notamment dans le respect des règles déontologiques applicables aux avocats.</p>
			</div>
		</div>	
	</div>  <!-- .row .frame-content -->

	<!-- project nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count light-blue"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Radio de l'Incubateur</h2>
				<p>Toutes les semaines, l’équipe de l’Incubateur publie un podcast dans lequel elle interroge des experts de divers domaines afin d’accompagner les avocats dans leur transition numérique. Les interviews couvrent quatre thématiques incontournables : la legaltech, la technologie et l’innovation, l’avocat 2.0, et enfin la déontologie.</p>
			</div>
		</div>	
	</div>  <!-- .row .frame-content -->
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-12">
			<%= link_to "Cliquez ici pour écoutez la Radio de l'Incubateur", radio_path, target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
		</div>
	</div> <!-- .row .frame-btn -->

		<!-- project nr -->
	<div class="row frame-content">
		<div class="col-md-offset-2 col-md-1">
			<div class="circle frame-count light-blue"><%= count += 1 %></div>
		</div>
		<div class="col-md-7">
			<div class="frame-description">
				<h2 class="moyen-format">Point de contact pour l'innovation</h2>
				<p>L'Incubateur est un point de contact pour l'innovation dans le secteur du droit. Nos membres répondent volontiers présents à toute initiative touchant au croisement entre le droit et la technologie. N'hésitez pas à nous contacter pour voir comment nous pouvons offrir notre contribution à l'innovation juridique.</p>
			</div>
		</div>	
	</div>  <!-- .row .frame-content -->
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-12">
			<%= link_to "Contactez-nous !", contact_path, target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
		</div>
	</div> <!-- .row .frame-btn -->

</div> <!-- .container .project -->
		

	</div>
</div>