<!-- PRIX -->

<div class="container title text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1>Les Prix de l'innovation 2018</h1>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->

<!-- CATEGORIES -->

<div class="container category text-center">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray">
      <div class="prix-description">
        <h4>L'Incubateur récompense des projets innovants dans le domaine du droit au cours d'une cérémonie de pitchs et de remise des Prix de l'innovation</h4>
        <p>Les Prix seront remis dans les catégories LegalTech et Avocat</p>
        <p>Un prix du public sera décerné sur base des pitchs de la soirée</p>
      </div>
    </div>
  </div> <!-- .row -->

  <div class="row candidatures-ouvertes">
    <div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray">
      <h2>Les candidatures sont ouvertes jusqu'au lundi <b>1er octobre 2018</b> (minuit)</h2>
      <p>Téléchargez le dossier de candidature approprié</p>
    </div>
  </div> <!-- .row -->

<!-- CARDS ROCKET ET AVOCAT -->

  <div class="row">
    <div class="col-md-offset-1 col-md-4 col-xs-12 rocket-column">
      <div class="category-card rocket">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        <h3>LegalTech</h3>
      </div>
      <div class="download-btn">
        <%= link_to "https://drive.google.com/open?id=15XR61yC5w1AzZmZAhd4KjNR_frMS_AUs", target: "_blank" do %>
          <i class="fa fa-cloud-download" aria-hidden="true"></i>
          <p>Télécharger<br>Dossier de candidature</p>
        <% end %>
      </div> <!-- .download-btn -->
    </div>
    <div class="col-md-offset-2 col-md-4 col-xs-12">
      <div class="category-card lightbulb">
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        <h3>Avocat</h3>
      </div>
      <div class="download-btn">
        <%= link_to "https://drive.google.com/open?id=1SrZs_7xkXQaIrNo9p-v9XBmc1d3yuMoc", target: "_blank" do %>
          <i class="fa fa-cloud-download" aria-hidden="true"></i>
          <p>Télécharger<br>Dossier de candidature</p>
        <% end %>
      </div> <!-- .download-btn -->
    </div>
  </div> <!-- .row -->

<!-- INFOS REGLEMENT -->

<div class="container reglement">
  <div class="row candidatures-ouvertes">
    <div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray">
      <h2>Consultez le réglement des Prix de l'innovation 2018</h2>
      <%= link_to "Règlement", "https://drive.google.com/open?id=1VUZBR1qmoTUqhGolTwfNWSO_vCNdVMe0", target: "_blank", class: "btn btn-lg btn-primary" %>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->

<div class=" container lined-middle-gray"></div>

<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie LegalTech pour l'édition 2018</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Stanislas</h3>
      <h3 class="jury-name">van Wassenhove</h3>
      <%= image_tag "stva.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président du jury, avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Dimitri</h3>
      <h3 class="jury-name">De Sart</h3>
      <%= image_tag "ddesart.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Isabelle</h3>
      <h3 class="jury-name">Ferrant</h3>
      <%= image_tag "iferrant.JPG", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Luc</h3>
      <h3 class="jury-name">Oger</h3>
      <%= image_tag "loger.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Namur</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Clarisse</h3>
      <h3 class="jury-name">Berrebi</h3>
      <%= image_tag "cberrebi.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Paris</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Jean-François</h3>
      <h3 class="jury-name">Ledoux</h3>
      <%= image_tag "inc1.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Dinant</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Patrick</h3>
      <h3 class="jury-name">De Wolf</h3>
      <%= image_tag "pdewolf.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->

<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie Avocat pour l'édition 2018</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Laurent</h3>
      <h3 class="jury-name">Hublet</h3>
      <%= image_tag "lhublet.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président du jury, conseiller Agenda Digital</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">François</h3>
      <h3 class="jury-name">Reyntens</h3>
      <%= image_tag "freyntens.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Consultant for Spencer Stuart </h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Ludo</h3>
      <h3 class="jury-name">Deklerck</h3>
      <%= image_tag "ldeclerck.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Directeur Général Institut des Juristes d'Entreprises</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Melik</h3>
      <h3 class="jury-name">Boudemagh</h3>
      <%= image_tag "inc1.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président Hercule</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Cécile</h3>
      <h3 class="jury-name">Jabaudon</h3>
      <%= image_tag "cjabaudon.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Operational Director Microsoft Innovation Centre Bruxelles</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->
<!-- INFOS CEREMONIE -->

<div class="container volet text-center">
  <div class="row volet-prix">
    <div class="col-md-offset-1 col-md-4 col-xs-12">
      <h2>Cérémonie</h2>
      <h3>Infos pratiques</h3>
      <p>Jeudi <b>13 décembre 2018</b> à 17h00 précises</p>
      <p>Fédération des Entreprises de Belgique, Salle Horta</p>
      <p>4 rue Ravenstein, 1000 Bruxelles</p>
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12">
      <%= image_tag "horta.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
  </div> <!-- .row -->

  <div class=" container lined-middle-gray"></div>


  <div class="row">
    <div class="col-xs-12">
      <h2>Voyez les résultats de l'édition 2017</h2>
      <%= link_to "Edition 2017", prix2017_path, target: "_blank", class: "btn btn-lg btn-success" %>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->