<!-- PRIX -->

<div class="container title text-center">
	<div class="row">
		<div class="col-xs-12">
			<h1>Les Prix de l'innovation 2017</h1>
		</div>
	</div> <!-- .row -->
</div> <!-- .container .equipe -->

<!-- CATEGORIES -->

<div class="container category text-center">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray">
			<div class="prix-description">
				<p>L'Incubateur récompense des projets innovants dans le domaine du droit au cours d'une cérémonie de remise des Prix de l'innovation</p>
				<p>Les Prix seront remis dans les catégories LegalTech et Avocat</p>
				<h2>Les candidatures sont ouvertes !</h2>
			</div>
		</div>
	</div> <!-- .row -->
	<div class="row">
		<div class="col-md-offset-1 col-md-4 col-xs-12 rocket-column">
			<div class="category-card rocket">
				<i class="fa fa-rocket" aria-hidden="true"></i>
				<h3>LegalTech</h3>
			</div>
			<div class="download-btn">
				<%= link_to "https://drive.google.com/open?id=0B8IrvRDLbpHBZ3NrRmxJTzBwUDg", target: "_blank" do %>
					<i class="fa fa-cloud-download" aria-hidden="true"></i>
					<p>Télécharger<br>Dossier de candidature</p>
				<% end %>
			</div> <!-- .download-btn -->
		</div>
		<div class="col-md-offset-2 col-md-4 col-xs-12">
			<div class="category-card lightbulb">
				<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
				<h3>Avocat</h3>
			</div>
			<div class="download-btn">
				<%= link_to "https://drive.google.com/open?id=0B8IrvRDLbpHBMUtOS0JxY21CUzg", target: "_blank" do %>
					<i class="fa fa-cloud-download" aria-hidden="true"></i>
					<p>Télécharger<br>Dossier de candidature</p>
				<% end %>
			</div> <!-- .download-btn -->
		</div>
	</div> <!-- .row -->
</div> <!-- .container .category -->

<!-- REGLEMENT -->

<div class="container reglement text-center lined-middle-gray">
	<div class="row">
		<div class="col-xs-12">
			<h3>Consultez le règlement de la remise des Prix</h2>
			<%= link_to "Règlement", "https://drive.google.com/open?id=0B8IrvRDLbpHBTV9FdlNwOFlLMDQ", target: "_blank", class: "btn btn-lg btn-primary" %>
		</div>
	</div>
</div>

<!-- INFOS CEREMONIE -->

<div class="container ceremonie text-center lined-middle-gray">
	<div class="row">
		<div class="col-md-offset-1 col-md-4 col-xs-12">
			<h2>Cérémonie</h2>
			<h3>Infos pratiques</h3>
			<p>Jeudi <bold>14 décembre 2017</bold> à 17h45 précises</p>
			<p>Fédération des Entreprises de Belgique, Salle Horta</p>
			<p>4 rue Ravenstein, 1000 Bruxelles</p>
			<p class="prix">Prix: 10 EUR</p>
			<%= link_to "Inscriptions", "http://numerique.avocats.be", target: "_blank", class: "btn btn-lg btn-primary" %>
		</div>
		<div class="col-md-offset-1 col-md-5 col-xs-12">
			<%= image_tag "horta.jpg", class: "img-responsive img-thumbnail" %>
		</div>
	</div> <!-- .row -->
</div> <!-- .container .equipe -->