<!-- PRIX -->

<div class="container title text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1>Les Prix de l'innovation 2018</h1>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->

<!-- CATEGORIES -->

<div class="container category text-center">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray">
      <div class="prix-description">
        <h4>L'Incubateur récompense des <b>projets innovants</b> dans le domaine du droit au cours d'une <b>cérémonie</b> de pitchs et de remise des Prix de l'innovation</h4>
        <p>Les Prix seront remis dans les catégories LegalTech et Avocat</p>
        <p>Un Prix du public sera décerné sur base des pitchs de la soirée</p>
        <div class="cocktail-inscriptions">
          <h4>Vous souhaitez vous inscrire au <b>cocktail dînatoire</b> de la cérémonie ?</h4>
          <%= link_to "Cliquez ici", "https://www.weezevent.com/electrochoc-numerique-3", target: "_blank", class: "btn btn-lg btn-primary" %>
          <p>Et sélectionnez le Tarif cocktail Incubateur (10 EUR TTC)</p>
        </div>
      </div>
    </div>
  </div> <!-- .row -->

<div class=" container lined-middle-gray"></div> 

 <!-- DELIBERATION -->

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2>Voici les projets finalistes de l'édition 2018</h2>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->

<!-- FiINALISTES CATEGORIE AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Finalistes catégorie Avocat</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> 
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Intolaw</h2>
      <p>Notre mission au sein du cabinet d’avocats <%= link_to "Intolaw", "https://www.intolaw.be/fr/droit-de-la-circulation", target: "_blank" %> est de rendre le droit accessible et l’innovation en est la clé. Nous estimons que la majorité des services juridiques devraient être disponibles gratuitement pour le consommateur et/ou la PME. Une rémunération ne devrait être demandée que lorsque un avocat donne une réelle valeur ajoutée.</p>
    </div>
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Jean Marot</h2>
      <p>L'avocat <%= link_to "Jean Marot", "https://jm-a.be/", target: "_blank" %> a développé <%= link_to "Legalstreet", "https://www.legalstreet.be/", target: "_blank" %>, une plate-forme innovante consacrée au droit de la circulation routière et à la réparation du dommage corporel. Legalstreet propose une expérience client réinventée et intègre un calculateur de dommage corporel (Indemnity) favorisant un travail collaboratif avec les victimes.</p>
    </div>
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>MCW</h2>
      <p>Dès 2014, <%= link_to "MCW", "http://www.mcw.be/", target: "_blank" %> est un cabinet d’avocats de Bruxelles, qui accompagne ses clients en droit commercial et droit des sociétés avec des méthodes innovantes. Par exemple, <%= link_to "Lawrenza", "http://lawrenza.com/index.php/en/", target: "_blank" %> est un logiciel qui utilise de l’intelligence artificielle et permet d’aider les juristes grâce à une base de données de 6 millions de documents juridiques actualisés automatiquement.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->


<!-- FiINALISTES CATEGORIE AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Finalistes catégorie LegalTech</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> 
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Knowlex</h2>
      <p><%= link_to "Knwolex", "https://www.knowlex.be/home-eng/", target: "_blank" %> Knowlex est un logiciel de gestion innovant qui organise efficacement le cabinet. Conçu pour sauvegarder, partager et réutiliser l’expertise interne d’un cabinet d’avocats, tout en conformité avec le RGPD. Knowlex rend la collaboration entre professionnels du droit plus agile, leur travail plus efficace et prépare à la transition à un cabinet paperless.</p>
    </div>
      <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Lawbox</h2>
      <p>Pour les entrepreneurs, <%= link_to "Lawbox", "https://lawboxpro.com/", target: "_blank" %> fourni un accès facile, rapide et abordable à des documents juridiques rédigés par des avocats et personnalisables sur base d’un questionnaire interactif. Le logiciel d'automatisation des contrats est également proposé aux cabinets d'avocats et grandes entreprises pour automatiser leurs propres templates.</p>
    </div>
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Lex.be</h2>
      <p><%= link_to "Lex.be", "https://lex.be/", target: "_blank" %> permet aux professionnels du droit de travailler plus efficacement. S'appuyant sur des années d'expérience en intelligence artificielle (principalement la PNL et l'extraction de données), Lex.be crée un écosystème d’intelligence juridique où l'avocat ait un accès aux sources publiques, classe et recherche plus facilement ses propres connaissances.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->

<div class=" container lined-middle-gray"></div> 

<!-- CARDS ROCKET ET AVOCAT -->

 <!--  <div class="row">
    <div class="col-md-offset-1 col-md-4 col-xs-12 rocket-column">
      <div class="category-card rocket">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        <h3>LegalTech</h3>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-4 col-xs-12">
      <div class="category-card lightbulb">
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        <h3>Avocat</h3>
      </div>
      <!-- <div class="download-btn">
        <%= link_to "https://drive.google.com/open?id=1SrZs_7xkXQaIrNo9p-v9XBmc1d3yuMoc", target: "_blank" do %>
          <i class="fa fa-cloud-download" aria-hidden="true"></i>
          <p>Télécharger<br>Dossier de candidature</p>
        <% end %> -->
      </div> <!-- .download-btn -->
    </div>
  </div> <!-- .row --> -->

<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie LegalTech pour l'édition 2018</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Stanislas</h3>
      <h3 class="jury-name">van Wassenhove</h3>
      <%= image_tag "stva.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président du jury, avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Dimitri</h3>
      <h3 class="jury-name">De Sart</h3>
      <%= image_tag "ddesart.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Isabelle</h3>
      <h3 class="jury-name">Ferrant</h3>
      <%= image_tag "iferrant.JPG", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Luc</h3>
      <h3 class="jury-name">Oger</h3>
      <%= image_tag "loger.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Namur</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Clarisse</h3>
      <h3 class="jury-name">Berrebi</h3>
      <%= image_tag "cberrebi.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Paris</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Jean-François</h3>
      <h3 class="jury-name">Ledoux</h3>
      <%= image_tag "inc1.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Dinant</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Patrick</h3>
      <h3 class="jury-name">De Wolf</h3>
      <%= image_tag "pdewolf.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Vinciane</h3>
      <h3 class="jury-name">Gillet</h3>
      <%= image_tag "vgillet.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->

<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie Avocat pour l'édition 2018</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Laurent</h3>
      <h3 class="jury-name">Hublet</h3>
      <%= image_tag "lhublet.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président du jury, conseiller Agenda Digital</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">François</h3>
      <h3 class="jury-name">Reyntens</h3>
      <%= image_tag "freyntens.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Consultant for Spencer Stuart </h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Ludo</h3>
      <h3 class="jury-name">Deklerck</h3>
      <%= image_tag "ldeclerck.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Directeur Général Institut des Juristes d'Entreprises</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Melik</h3>
      <h3 class="jury-name">Boudemagh</h3>
      <%= image_tag "mboudemagh.jpeg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président Hercule LegalTech</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Cécile</h3>
      <h3 class="jury-name">Jabaudon</h3>
      <%= image_tag "cjabaudon.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Operational Director Microsoft Innovation Centre Bruxelles</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->
<!-- INFOS CEREMONIE -->

<div class="container volet text-center">
  <div class="row volet-prix">
    <div class="col-md-offset-1 col-md-4 col-xs-12">
      <h2>Cérémonie</h2>
      <h3>Infos pratiques</h3>
      <p>Jeudi <b>13 décembre 2018</b> à 17h00 précises</p>
      <p>Fédération des Entreprises de Belgique, Salle Horta</p>
      <p>4 rue Ravenstein, 1000 Bruxelles</p>
      <%= link_to "Cliquez ici pour vous inscrire", "https://www.weezevent.com/electrochoc-numerique-3", target: "_blank", class: "btn btn-lg btn-primary" %>
      <p>Prix : <b>10</b> EUR (TTC) - sélectionnez le Tarif cocktail Incubateur</p>
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12">
      <%= image_tag "horta.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
  </div> <!-- .row -->

  <!-- INFOS REGLEMENT -->

  <div class="container reglement">
    <div class="row candidatures-ouvertes text-center">
      <div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray" id="btn-reglement">
        <h2>Consultez le réglement des Prix de l'innovation 2018</h2>
        <%= link_to "Règlement", "https://drive.google.com/open?id=1VUZBR1qmoTUqhGolTwfNWSO_vCNdVMe0", target: "_blank", class: "btn btn-lg btn-primary center-block" %>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container --> 

  <div class=" container lined-middle-gray"></div>


  <div class="row">
    <div class="col-xs-12">
      <h2>Voyez les résultats de l'édition 2017</h2>
      <%= link_to "Edition 2017", prix2017_path, target: "_blank", class: "btn btn-lg btn-success" %>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->