<!-- PRIX -->

<div class="container title text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1>Les Prix de l'innovation 2019</h1>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->

<div class="container prix-description">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-12 text-center">
     <h4>L'Incubateur récompense des <b>projets innovants</b> dans le domaine du droit au cours d'une <b>cérémonie</b> de pitchs et de remise des Prix de l'innovation</h4>
      </div>
  </div>
</div>

<div class=" container lined-middle-gray"></div>


<div class="alert alert-warning">
  <h4>Les candidatures pour les Prix de l'innovation sont ouvertes jusqu'au 31 octobre ! Rendez-vous <%= link_to "ici", prix_path %> pour déposer un dossier.</h4>
</div>


<!-- .prix.html.erb CANIDATURES OUVERTES -->

<div class="container title text-center candidatures-ouvertes">
  <div class="row">
    <div class="col-xs-12">
      <h2>Les candidatures sont maintenant ouvertes !</h2>
      <h3>Clôture de la remise des dossiers<br>le <b>mercredi 30 octobre 2019</b> à minuit</h3>
      <p>Veuillez télécharger le dossier de candidature correspondant à votre catégorie (LegalTech ou Avocat) et le renvoyer dûment complété par email à <span>incubateur@avocats.be</span> avant la date de clôture.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->


<div class="container title text-center">
  <div class="row">
    <div class="col-md-offset-2 col-md-3 col-xs-12">
      <div class="download-btn">
        <%= link_to "https://drive.google.com/file/d/1czFKkCW1QHZCApXs0QChPVwaFCmN4k14/view?usp=sharing", target: "_blank" do %>
          <i class="fa fa-rocket" aria-hidden="true"></i>
          <p>Télécharger<br>Dossier de candidature<br>LegalTech</p>
        <% end %>
      </div> <!-- .download-btn -->
    </div>
    <div class="col-md-offset-2 col-md-3 col-xs-12">
      <div class="download-btn download-btn-green">
        <%= link_to "https://drive.google.com/file/d/1S1OG6WBut6X41IgxyzTFe_1Q-ZSnI77l/view?usp=sharing", target: "_blank" do %>
          <i class="fa fa-gavel" aria-hidden="true"></i>
          <p>Télécharger<br>Dossier de candidature<br>Avocat</p>
        <% end %>
      </div> <!-- .download-btn -->
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->


  <!-- INFOS REGLEMENT -->

  <div class="container reglement">
    <div class="row candidatures-ouvertes text-center">
      <div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray" id="btn-reglement">
        <h2>Consultez le réglement des Prix de l'innovation 2019</h2>
        <%= link_to "Règlement", "https://drive.google.com/file/d/1j_wOLxuyehUH8HLKYQikkearQxY_usUs/view?usp=sharing", target: "_blank", class: "btn btn-lg btn-primary center-block" %>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container --> 

  <div class=" container lined-middle-gray"></div>


<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie LegalTech pour l'édition 2019</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Vinciane</h3>
      <h3 class="jury-name">Gillet</h3>
      <%= image_tag "vgillet.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Présidente du jury, Avocate Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Dimitri</h3>
      <h3 class="jury-name">De Sart</h3>
      <%= image_tag "ddesart.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Isabelle</h3>
      <h3 class="jury-name">Ferrant</h3>
      <%= image_tag "iferrant.JPG", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocate Bruxelles</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Luc</h3>
      <h3 class="jury-name">Oger</h3>
      <%= image_tag "loger.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Namur</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Patrick</h3>
      <h3 class="jury-name">De Wolf</h3>
      <%= image_tag "pdewolf.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Jean-François</h3>
      <h3 class="jury-name">Ledoux</h3>
      <%= image_tag "jfledoux.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Dinant</h3>
    </div>
  </div>
</div> <!-- .container .category -->

<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie Avocat pour l'édition 2019</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Laurent</h3>
      <h3 class="jury-name">Hublet</h3>
      <%= image_tag "lhublet.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président du jury, Managing Director de BeCentral</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">François</h3>
      <h3 class="jury-name">Reyntens</h3>
      <%= image_tag "freyntens.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Consultant chez Spencer Stuart </h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Marc</h3>
      <h3 class="jury-name">Beyens</h3>
      <%= image_tag "mbeyens.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président de l'Institut des Juristes d'Entreprises</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Cécile</h3>
      <h3 class="jury-name">Jabaudon</h3>
      <%= image_tag "cjabaudon.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Operational Director au Microsoft Innovation Centre Bruxelles</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->


<!-- INFOS CEREMONIE -->

<div class="container volet text-center">
  <div class="row volet-prix">
    <div class="col-md-offset-1 col-md-4 col-xs-12">
      <h2>Cérémonie</h2>
      <h3>Infos pratiques</h3>
      <p>Date : Mardi <b>10 décembre 2019</b> à 17h00 (heure à confirmer)</p>
      <p>Lieu : Musée des Beaux Arts</p>
      <p>Adresse : Rue du musée, 1000 Bruxelles</p>
      <%= link_to "Les inscriptions ne sont pas encore ouvertes", "https://www.weezevent.com/electrochoc-numerique-3", target: "_blank", class: "btn btn-lg btn-primary disabled" %>
      <p>Prix : <b>10</b> EUR (TTC) (à confirmer)</p>
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12">
      <%= image_tag "horta.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
  </div> <!-- .row -->

  <div class="row">
    <div class="col-xs-12">
      <h2>Voyez les résultats de l'édition 2018</h2>
      <%= link_to "Édition 2018", prix2018_path, target: "_blank", class: "btn btn-lg btn-success" %>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->