<!-- PRIX -->

<div class="container title text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1>Les Prix de l'innovation 2019</h1>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->

<div class="container prix-description">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-12 text-center">
     <h4>L'Incubateur récompense des <b>projets innovants</b> dans le domaine du droit au cours d'une <b>cérémonie</b> de pitchs et de remise des Prix de l'innovation</h4>
      </div>
  </div>
</div>

<div class=" container lined-middle-gray"></div>

<!-- .prix.html.erb FINALISTES -->

<div class="container title text-center candidatures-ouvertes">
  <div class="row">
    <div class="col-xs-12">
      <h2>Les finalistes sont sélectionnés !</h2>
      <h3>Rendez-vous le 10 décembre 2019 pour les pitchs des finalistes !</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->

<!-- FiINALISTES CATEGORIE AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Finalistes catégorie Avocat</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> 
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Claeys & Engels</h2>
      <p>Les chatbots disponibles sur les sites <%= link_to "dismissal.be", "https://www.opzegging.be/easycms/home", target: "_blank" %> et <%= link_to "socialelections.be", "http://socialelections.be/easycms/home", target: "_blank" %> sont un moyen innovant d'apporter gratuitement, rapidement et de manière interactive des réponses aux visiteurs du site quant à leurs questions relatives aux élections sociales ou entourant le licenciement.</p>
    </div>
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Ethikos</h2>
      <p><%= link_to "Ethikos", "http://www.ethikos.be/fr/", target: "_blank" %> ambitionne de rendre les affaires plus éthiques. D’une part, en persuadant ses clients que valeurs et réussite commerciale vont de pair. D’autre part, en travaillant chez ses clients, au sein même de ses équipes, afin de développer avec eux une relation durable basée sur la confiance.</p>
    </div>
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Intolaw</h2>
      <p>Notre mission au sein du cabinet d’avocats <%= link_to "Intolaw", "https://www.intolaw.be/fr/droit-de-la-circulation", target: "_blank" %> est de rendre le droit accessible. Nous avons développé un modèle de base de données relationnel pour innover au sein du cabinet.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->


<!-- FiINALISTES CATEGORIE AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Finalistes catégorie LegalTech</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> 
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Conflicool</h2>
      <p><%= link_to "Conflicool", "https://conflicool.com/", target: "_blank" %>  est une plateforme web permettant à deux parties en conflit de facilement entamer une médiation. En répondant à 5 simples questions, conflicool.com identifie gratuitement et de manière parfaitement impartiale un médiateur agréé adapté au conflit.</p>
    </div>
      <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Lawbox</h2>
      <p>Pour les entrepreneurs, <%= link_to "Lawbox", "https://lawboxpro.com/", target: "_blank" %> fournit un accès facile, rapide et abordable à des documents juridiques rédigés par des avocats et personnalisables sur base d’un questionnaire interactif. Le logiciel d'automatisation des contrats est également proposé aux cabinets d'avocats et grandes entreprises pour automatiser leurs propres templates.</p>
    </div>
    <div class="col-md-4 col-xs-12 finaliste-card">
      <h2>Online Solution Attorney</h2>
      <p>Développée en collaboration avec des avocats, la pateforme <%= link_to "Online Solution Attorney", "https://onlinesolutionattorney.be/en", target: "_blank" %> (OSA) met à disposition des avocats ou d’opérateurs économiques (banques, assurances, etc.) une interface simple d'utilisation qui leur permet de bénéficier des consultations en ligne ou de rendez-vous en cabinet. OSA offre flexibilité aux avocats et transparence aux clients.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->

  <!-- INFOS REGLEMENT -->

  <div class="container reglement">
    <div class="row candidatures-ouvertes text-center">
      <div class="col-md-offset-1 col-md-10 col-xs-12 lined-middle-gray" id="btn-reglement">
        <h2>Consultez le réglement des Prix de l'innovation 2019</h2>
        <%= link_to "Règlement", "https://drive.google.com/file/d/1j_wOLxuyehUH8HLKYQikkearQxY_usUs/view?usp=sharing", target: "_blank", class: "btn btn-lg btn-primary center-block" %>
      </div>
    </div> <!-- .row -->
  </div> <!-- .container --> 

  <div class=" container lined-middle-gray"></div>


<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie LegalTech pour l'édition 2019</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Vinciane</h3>
      <h3 class="jury-name">Gillet</h3>
      <%= image_tag "vgillet.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Présidente du jury, Avocate Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Dimitri</h3>
      <h3 class="jury-name">De Sart</h3>
      <%= image_tag "ddesart.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Bruxelles</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Isabelle</h3>
      <h3 class="jury-name">Ferrant</h3>
      <%= image_tag "iferrant.JPG", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocate Bruxelles</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Luc</h3>
      <h3 class="jury-name">Oger</h3>
      <%= image_tag "loger.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Namur</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Jean-François</h3>
      <h3 class="jury-name">Ledoux</h3>
      <%= image_tag "jfledoux.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Avocat Dinant</h3>
    </div>
  </div>
</div> <!-- .container .category -->

<!-- MEMBRES DU JURY AVOCAT -->

<div class="container jury-avocat text-center">
  <div class="row">
    <div class="col-xs-12 jury-titre">
      <h2>Jury catégorie Avocat pour l'édition 2019</h2>
    </div>
  </div> <!-- .row -->
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Laurent</h3>
      <h3 class="jury-name">Hublet</h3>
      <%= image_tag "lhublet.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président du jury, Managing Director de BeCentral</h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">François</h3>
      <h3 class="jury-name">Reyntens</h3>
      <%= image_tag "freyntens.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Consultant chez Spencer Stuart </h3>
    </div>
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Marc</h3>
      <h3 class="jury-name">Beyens</h3>
      <%= image_tag "mbeyens.png", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Président de l'Institut des Juristes d'Entreprises</h3>
    </div>
  </div>
  <div class="row"> <!-- .row -->
    <div class="col-md-4 col-xs-12 jury-card">
      <h3 class="jury-first-name">Cécile</h3>
      <h3 class="jury-name">Jabaudon</h3>
      <%= image_tag "cjabaudon.jpg", class: "img-circle img-responsive avatar" %>
      <h3 class="jury-title">Operational Director au Microsoft Innovation Centre Bruxelles</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .category -->


<!-- INFOS CEREMONIE -->

<div class="container volet text-center">
  <div class="row volet-prix">
    <div class="col-md-offset-1 col-md-4 col-xs-12">
      <h2>Cérémonie</h2>
      <h3>Infos pratiques</h3>
      <p>Date : Mardi <b>10 décembre 2019</b> à 17h00 (heure à confirmer)</p>
      <p>Lieu : Musée des Beaux Arts</p>
      <p>Adresse : Rue du musée, 1000 Bruxelles</p>
      <%= link_to "Inscriptions", "https://www.weezevent.com/lt-summit-10-decembre", target: "_blank", class: "btn btn-lg btn-primary" %>
      <p>Prix: <b>65</b> EUR (TTC) (ce prix donne accès à toute la conférence <b>Legal & Tech Summit</b> | ouverture des portes à partir de 9h00)</p>
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12">
      <%= image_tag "horta.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
  </div> <!-- .row -->

  <div class="row">
    <div class="col-xs-12">
      <h2>Voyez les résultats de l'édition 2018</h2>
      <%= link_to "Édition 2018", prix2018_path, target: "_blank", class: "btn btn-lg btn-success" %>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->